In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
movie_rating = pd.read_csv('week7.csv',index_col =0)
movie_rating

,The Shawshank Redemption?,The Godfather,The Godfather: Part II?,The Dark Knight?,12 Angry Men?,Schindler's List?
Jack,3.0,NaN,NaN,5.0,5,NaN
Alan,NaN,5.0,5.0,NaN,4,3.0
Geoger,2.0,NaN,NaN,4.0,5,NaN
Alice,5.0,4.0,NaN,NaN,3,5.0
Fai,5.0,NaN,4.0,4.0,3,NaN

Average

In [3]:
user_aver = movie_rating.mean(axis=1).round(decimals=2)
user_aver

Jack       4.33
Alan       4.25
Geoger     3.67
Alice      4.25
Fai        4.00
dtype: float64

In [4]:
movie_aver = movie_rating.mean(axis=0).round(decimals=2)
movie_aver

The Shawshank Redemption?    3.75
The Godfather                4.50
The Godfather: Part II?      4.50
The Dark Knight?             4.33
12 Angry Men?                4.00
Schindler's List?            4.00
dtype: float64

Normalization

In [5]:
rating_norm = (movie_rating - movie_rating.min()) / (movie_rating.max() - movie_rating.min())
rating_norm

,The Shawshank Redemption?,The Godfather,The Godfather: Part II?,The Dark Knight?,12 Angry Men?,Schindler's List?
Jack,0.333333,NaN,NaN,1.0,1.0,NaN
Alan,NaN,1.0,1.0,NaN,0.5,0.0
Geoger,0.000000,NaN,NaN,0.0,1.0,NaN
Alice,1.000000,0.0,NaN,NaN,0.0,1.0
Fai,1.000000,NaN,0.0,0.0,0.0,NaN

In [6]:
user_aver_norm = rating_norm.mean(axis=1).round(decimals=5)
user_aver_norm

Jack       0.77778
Alan       0.62500
Geoger     0.33333
Alice      0.50000
Fai        0.25000
dtype: float64

In [7]:
movie_aver_norm = rating_norm.mean(axis=0).round(decimals=5)
movie_aver_norm

The Shawshank Redemption?    0.58333
The Godfather                0.50000
The Godfather: Part II?      0.50000
The Dark Knight?             0.33333
12 Angry Men?                0.50000
Schindler's List?            0.50000
dtype: float64

Conclusion: 
advantage is to make all datapoint have same scale (0-1)
disadvantage is it cannot very good handle outliers, the result will affected by min and max values.

standardization

In [8]:
rating_std = (movie_rating - movie_rating.mean())/(movie_rating.std())
rating_std

,The Shawshank Redemption?,The Godfather,The Godfather: Part II?,The Dark Knight?,12 Angry Men?,Schindler's List?
Jack,-0.500000,NaN,NaN,1.154701,1.0,NaN
Alan,NaN,0.707107,0.707107,NaN,0.0,-0.707107
Geoger,-1.166667,NaN,NaN,-0.577350,1.0,NaN
Alice,0.833333,-0.707107,NaN,NaN,-1.0,0.707107
Fai,0.833333,NaN,-0.707107,-0.577350,-1.0,NaN

In [9]:
user_aver_std = rating_std.mean(axis=1).round(decimals=5)
user_aver_std

Jack       0.55157
Alan       0.17678
Geoger    -0.24801
Alice     -0.04167
Fai       -0.36278
dtype: float64

In [10]:
movie_aver_std = rating_std.mean(axis=0).round(decimals=5)
movie_aver_std

The Shawshank Redemption?    0.0
The Godfather                0.0
The Godfather: Part II?      0.0
The Dark Knight?             0.0
12 Angry Men?                0.0
Schindler's List?            0.0
dtype: float64