In [1]:
import pandas as pd
from sqlalchemy import create_engine

sql = '''SELECT c.LastName,c.FirstName,d.Name,e.Title
FROM invoiceline a LEFT JOIN invoice b ON a.InvoiceId = b.InvoiceId inner join customer c on b.CustomerId =c.CustomerId
inner JOIN track d ON a.TrackId = d.TrackId inner join album e on d.AlbumId =e.AlbumId
order by c.LastName,c.FirstName'''

db = create_engine('mysql+mysqlconnector://root:root@localhost:3306/Chinook')
pd.read_sql(sql, db).head(5)

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas